
@{
    ViewBag.Title = "Heh";
}

<h2>Heh</h2>
<div ng-app="singlePageApp">
    <div ng-controller="HehController">
        <button type="button" ng-click="InvokeMethod()" class="btn btn-default">Nacisnij mnie !!</button>
        {{SomethingToDisplay}}
        <div>{{SomethingToDisplay}}</div>
        {{counterMy}}
        <div>{{counterMy}}</div>
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Js/App.js"></script>
    <script src="~/Js/Controllers/HehController.js"></script>
    
</div>